:host {
    display: block;
}
.container {
    width: fit-content;
    margin-top: 10px;

    &.user-event {
        margin: 10px auto 0;
        padding: 5px;
        max-width: 90%;
        border-radius: 6px;
        font-size: 12px;
        color: var(--primary-400);
        background: var(--primary-800);
        user-select: none;

        transform-origin: top center;
        animation: appear 150ms ease-in-out;
    }

    &:is(.chat-message, .typing-event) {
        max-width: 70%;
        border-radius: 18px;
        padding: 10px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        background: var(--primary-700);
        // animation: appear 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        animation: appear 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform-origin: top left;

        &.is-me {
            transform-origin: top right;
            background: var(--primary-100);
            color: var(--primary-900);
            float: right;
        }

        .message {
            word-wrap: break-word;
            word-break: break-all;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }

    &.typing-event {
        .dots {
            margin: 0 0 2px 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // outline: 1px solid red;

            .dot {
                display: block;
                height: 6px;
                width: 6px;
                background: var(--primary-400);
                border-radius: 500%;

                --delay: calc(var(--index) * 140ms);
                animation: jump 700ms var(--delay) ease infinite;

                & + .dot {
                    margin-left: 5px;
                }
            }
        }
    }

    .user {
        opacity: 0.6;
        margin-left: 10px;
        font-size: 11px;

        span {
            float: right;
        }
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes jump {
    50% {
        transform: translateY(-10px);
    }
}