<div class="container {{ variant.replace(' ', '-') }}" [class.is-me]="isMe">
    <span class="message" [innerHTML]="message"></span>
    <div *ngIf="variant == SocketEvents.CHAT_MESSAGE && username" class="user">
        <span>{{ username }}</span>
    </div>
    <div *ngIf="variant == SocketEvents.TYPING_EVENT" class="dots">
        <span class="dot dot-1" style="--index: 0"></span>
        <span class="dot dot-2" style="--index: 1"></span>
        <span class="dot dot-3" style="--index: 2"></span>  
    </div>
</div>
