<div class="container">
    <!-- <div
        class="snackbar"
        [class.show]="(usersOnline$ | async)?.length"
        [innerHTML]="'online: ' + getOnlineUsersText(usersOnline$ | async)"
    ></div> -->
    <div class="chat-title-bar">
        <h1 class="chat-title">Global Group Chat</h1>
        <div
            class="users-online cut-text"
            [class.show]="(usersOnline$ | async)?.length"
            [innerHTML]="'online: ' + getOnlineUsersText(usersOnline$ | async)"
        ></div>
    </div>
    <div class="chat" #chatRef>
        <chat-message
            *ngFor="let message of messages"
            [variant]="message.type"
            [message]="message.text"
            [username]="message.username"
            [isMe]="message.isMe || false"
        ></chat-message>
        <chat-message
            *ngIf="usersTyping.length"
            [variant]="SocketEvents.TYPING_EVENT"
            [message]="usersTypingText"
        ></chat-message>
    </div>
    <div class="form-group-wrapper">
        <div class="form-group">
            <div class="message-input-container">
                <div class="message-input-bg"></div>
                <div *ngIf="!newMessage" class="message-input-placeholder">message (m)</div>
                <div
                    #messageInput
                    class="message-input"
                    [class.transparent]="!newMessage"
                    contenteditable
                    (keydown.Enter)="messageSubmitHandler($event)"
                    (keydown.Escape)="messageInput.blur()"
                ></div>
            </div>

            <!-- <input
                class="message-input"
                type="text"
                placeholder="message"
                [(ngModel)]="newMessage"
                (keydown.Enter)="sendMessage()"
                (input)="this.inputHandler()"
            /> -->
            <button class="send-btn" [disabled]="!newMessage" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
            <button class="change-username-btn" (click)="changeUsername()"><i class="fas fa-user"></i></button>
        </div>
    </div>
</div>
