<div class="container">
    <div class="snackbar" [class.show]="usersOnline$ | async">
        {{ usersOnline$ | async }}
    </div>
    <div class="chat" #chatRef>
        <chat-message
            *ngFor="let message of messages"
            [variant]="message.type"
            [message]="message.text"
            [username]="message.username"
            [isMe]="message.isMe || false"
        ></chat-message>
        <chat-message *ngIf="usersTyping.length" variant="typing" [message]="usersTypingText"></chat-message>
    </div>
    <div class="form-group-wrapper">
        <div class="form-group">
            <input
                class="message-input"
                type="text"
                placeholder="message"
                [(ngModel)]="newMessage"
                (keydown.Enter)="sendMessage()"
                (input)="this.inputFired()"
            />
            <button class="send-btn" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
