<div class="relative w-fit">
    <button
        class="text-gray-200 hover:text-secondary-400 transition-colors flex gap-1 items-center"
        [dropDownTriggerFor]="menu"
    >
        <span class="font-bold">{{ (loggedInUser$ | async)?.username }}</span>
        <div>
            <span *ngIf="pendingInvitationsCount" class="badge bg-secondary-400">{{ pendingInvitationsCount }}</span>
        </div>
        <i class="fas fa-caret-down"></i>
    </button>

    <app-drop-down class="absolute top-[calc(100%+.5rem)] left-[50%] z-50" [items]="menuItems" #menu></app-drop-down>
</div>
