:root {
    --primary-hue: 165;
    --primary-100: hsl(165, 100%, 50%);
    --primary-400: hsl(165, 100%, 30%);
    --primary-700: hsl(165, 15%, 15%);
    --primary-800: hsl(165, 15%, 10%);
    --primary-900: hsl(165, 20%, 3%);
    
    --secondary-hue: calc(var(--primary-hue) + 105);
    --secondary-100: hsl(var(--secondary-hue), 100%, 50%);
    --secondary-400: hsl(var(--secondary-hue), 100%, 30%);
    --secondary-700: hsl(var(--secondary-hue), 15%, 15%);
    --secondary-800: hsl(var(--secondary-hue), 15%, 10%);
    --secondary-900: hsl(var(--secondary-hue), 20%, 3%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    background: var(--primary-900);
    color: var(--primary-100);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    // padding-bottom: 47px;
}
app-root {
    display: block;
    height: 100%;
}

::selection {
    background: var(--secondary-100);
    color: var(--primary-800);
}
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}
::-webkit-scrollbar-track {
    background: var(--primary-900);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-100);
    border-radius: 100vh;
}
// ::-webkit-scrollbar-thumb:hover {
//     background: var(--primary-clr);
// }
