:host {
    @apply h-full flex flex-col pt-3 pl-3 min-w-[19rem];
}

.spacer {
    margin-bottom: 20px
}

.chats {
    padding: 0;
}
.chat {
    position: relative;
    padding: 0.4rem;
    list-style-type: none;
    cursor: pointer;
    @apply bg-gray-800 text-gray-300 border border-subtle p-2 mb-1 rounded-xl hover:bg-gray-700 transition-colors w-full;

    display: flex;
    justify-content: flex-start;
    gap: 0.4rem;
    align-items: center;

    &.active {
        @apply bg-grad-secondary text-gray-100;

        // .image {
        //     background: var(--secondary-100);
        //     opacity: .3;
        // }
    }

    .title {
        font-size: 1.1em;
        width: calc(100% - 30px);
    }
    // .image {
    //     height: 38px;
    //     background: var(--primary-700);
    //     aspect-ratio: 1 / 1;
    //     border-radius: 50%;
    // }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }
    .last-message {
        font-size: 0.8em;

        .text {
            opacity: 0.7;
        }
        .username {
            @apply font-bold;
        }
    }
    .time {
        position: absolute;
        top: 0.4rem;
        right: 0.55rem;
        opacity: 0.6;
        font-size: 0.65em;
    }
}
