<user-menu></user-menu>

<div class="spacer"></div>

<h2 class="text-2xl font-bold mb-3">Chats <loading-spinner *ngIf="loadingChatPreviews$ | async"></loading-spinner></h2>

<div class="overflow-auto max-h-full pr-2">
    <div class="flex mb-2 gap-2">
        <input type="text" placeholder="Search" class="w-full" />
        <button (click)="createChat()" title="Create a group chat"><i class="far fa-edit"></i></button>
    </div>
    <button *ngIf="!isMemberOfGlobalGroup(chatPreviews$ | async)" class="w-full mb-2" (click)="joinGlobalChat()">
        join global Chat
    </button>

    <ul class="chats | w-full">
        <li
            *ngFor="let chat of chatPreviews$ | async"
            class="chat"
            [class.active]="chat.friendshipOrChatGroupId == (activeChatId$ | async)"
            (click)="setChatActive(chat.friendshipOrChatGroupId)"
        >
            <!-- <div class="image"></div> -->
            <div class="wrapper">
                <div class="title | cut-text font-semibold">{{ chat.title }}</div>
                <div class="last-message cut-text">
                    <span
                        class="username"
                        *ngIf="
                            chat.lastMessage &&
                            (chat.chatType == ChatType.GROUP || (loggedInUser$ | async)?.id == chat.lastMessage.user.id)
                        "
                        >{{
                            (loggedInUser$ | async)?.id == chat.lastMessage.user.id
                                ? 'You'
                                : chat.lastMessage.user.username
                        }}:
                    </span>
                    <span class="text">{{ chat.lastMessage?.text || '&nbsp;' }}</span>
                </div>
            </div>
            <span class="time">{{ chat.lastMessage?.timestamp | date: 'shortTime' }}</span>
        </li>
    </ul>
</div>
