:host {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
._container {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    height: calc(100% - 0px);
    // width: min(100%, 800px);
    @apply w-full;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.chat-title-bar {
    @apply w-full p-3 z-10 bg-fade-to-bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    .users-online {
        font-size: 0.8rem;

        &:not(.show) {
            display: none;
        }
    }
}

.snackbar {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    font-size: 0.8rem;
    max-width: 100%;
    box-shadow: 0 0 10px var(--secondary-800);

    border-radius: 0 0 10px 10px;
    background: var(--secondary-800);
    color: var(--primary-100);
    pointer-events: none;
    transition: opacity 200ms;

    &:not(.show) {
        opacity: 0;
    }

    span {
        color: var(--primary-100);
    }
}

.chat {
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    scroll-behavior: smooth;
    scroll-margin-bottom: 100px;

    .messages {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & > * {
            width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
}

.bottom-bar {
    @apply w-full p-3;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-bar {
    height: 0;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.8em;

    transition: 150ms;

    &.visible {
        padding-top: 15px;
        margin-bottom: 10px;


        .dots {
            opacity: 1;
        }
    }

    .dots {
        opacity: 0;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .dot {
            display: block;
            height: 4px;
            width: 4px;
            background: var(--primary-400);
            border-radius: 500%;

            --delay: calc(var(--index) * 140ms);
            animation: jump 700ms var(--delay) ease infinite;

            & + .dot {
                margin-left: 3px;
            }
        }
    }
}

.form-group {
    display: flex;
    width: 100%;
}

@keyframes jump {
    50% {
        transform: translateY(-10px);
    }
}

.message-input,
.message-input-placeholder,
.message-input-bg {
    @apply py-2 px-3 rounded-lg outline-none text-gray-100 bg-gray-800;
    font-size: 1rem;
    transition: all 160ms;
}
.message-input-container {
    @apply relative w-full isolate shrink;

    .message-input-placeholder,
    .message-input-bg {
        @apply h-full w-full absolute top-0 left-0 text-gray-500;

        z-index: -1;
        box-shadow: none;
        transition: none;
        pointer-events: none;
    }
    .message-input-placeholder {
        background: transparent;
    }
    .message-input {
        @apply border border-subtle bg-transparent max-w-full focus:border-secondary-400;
    }
}
