<sidebar></sidebar>
<div class="_container">
    <div class="chat-title-bar">
        <h1 class="chat-title | !mb-0 text-2xl">{{ activeChat?.title }}</h1>
        <div
            class="users-online cut-text"
            [class.show]="usersOnlineText$ | async"
            [innerHTML]="usersOnlineText$ | async"
        ></div>
    </div>
    <div class="chat" #chatRef>
        <div *ngIf="!chatsState.loadingActiveChatMessages" class="messages">
            <div *ngFor="let message of messages; let i = index">
                <chat-message
                    *ngIf="!isSameDay(message.timestamp, messages[i - 1]?.timestamp || '')"
                    [variant]="MessageTypes.USER_EVENT"
                    [messageText]="getDay(message.timestamp) || 'Invalid date'"
                ></chat-message>
                <chat-message
                    [variant]="message.messageType"
                    [message]="message"
                    [isMe]="message.messageType == MessageTypes.CHAT_MESSAGE ? message.user.id == user?.id : false"
                    [sameUserAsPrevMsg]="message?.user?.id == messages[i - 1]?.user?.id"
                    [hideUsername]="activeChat?.chatType == ChatType.PRIVATE"
                ></chat-message>
            </div>
            <chat-message
                *ngFor="let sendingMessage of sendingMessages"
                [messageText]="sendingMessage.messageText"
                [isMe]="true"
                [isLoading]="true"
            ></chat-message>
        </div>

        <div style="display: flex; align-items: center; justify-content: center; height: 100%">
            <p [style.opacity]="chatsState.loadingActiveChatMessages ? '1' : '0'" style="font-size: 2rem">
                <loading-spinner></loading-spinner>
            </p>
            <h2
                *ngIf="!chatsState.loadingActiveChatMessages && activeChat && messages.length == 0"
                style="opacity: 0.6"
            >
                No messages yet...
            </h2>
            <h2 *ngIf="!activeChat" style="opacity: 0.6">No chat selected...</h2>
        </div>
    </div>

    <div class="position-bottom-bar | relative w-full">
        <div class="bottom-bar" [style.display]="activeChat ? 'block' : 'none'">
            <div class="info-bar" [class.visible]="usersTypingText$ | async">
                <div [innerHTML]="usersTypingText$ | async"></div>
                <div class="dots">
                    <span class="dot dot-1" style="--index: 0"></span>
                    <span class="dot dot-2" style="--index: 1"></span>
                    <span class="dot dot-3" style="--index: 2"></span>
                </div>
            </div>
            <div class="form-group | flex gap-2">
                <div class="message-input-container">
                    <div class="message-input-bg"></div>
                    <div *ngIf="!newMessage" class="message-input-placeholder">Message (M)</div>
                    <div
                        #messageInput
                        class="message-input"
                        [class.transparent]="!newMessage"
                        contenteditable
                        [keybinding]="{
                            'not.peer-focus:M': 'focus',
                            'focus:Escape': 'blur',
                            'focus:Enter': sendMessage
                        }"
                    ></div>
                </div>
                <button
                    class="send-btn | button group h-[42px] w-[42px] rounded-full border-0 hover:bg-fancy-400"
                    [disabled]="!newMessage"
                    (click)="sendMessage()"
                >
                    <i
                        class="fas fa-paper-plane | group-disabled:!text-gray-400 group-hover:!text-gray-800 bg-fancy-400 !text-transparent bg-clip-text"
                    ></i>
                </button>
            </div>
        </div>
    </div>
</div>
