<sidebar></sidebar>
<div class="container">
    <div class="chat-title-bar">
        <h1 class="chat-title">{{ (activeChat$ | async)?.title }}</h1>
        <div
            class="users-online cut-text"
            [class.show]="usersOnlineText$ | async"
            [innerHTML]="'online: ' + (usersOnlineText$ | async)"
        ></div>
    </div>
    <div class="chat" #chatRef>
        <chat-message
            *ngFor="let message of messages; let i = index"
            [variant]="message.messageType"
            [message]="message"
            [isMe]="message.messageType == MessageTypes.CHAT_MESSAGE ? message.user.id == user?.id : false"
            [sameUserAsPrevMsg]="message?.user?.id == messages[i - 1]?.user?.id"
        ></chat-message>
        <p *ngIf="(activeChat$ | async) && messages.length == 0" style="text-align:center; margin-top:10px;">No messages yet...</p>

        <chat-message
            [variant]="'typing event'"
            [messageText]="(usersTypingText$ | async)!"
        ></chat-message>
    </div>

    <h2 *ngIf="!(activeChat$ | async)" style="text-align: center; height: 100%; opacity: 0.6">No chat selected...</h2>
    
    <div class="form-group-wrapper" [style.display]="(activeChat$ | async) ? 'block' : 'none'">
        <div class="form-group">
            <div class="message-input-container">
                <div class="message-input-bg"></div>
                <div *ngIf="!newMessage" class="message-input-placeholder">message (m)</div>
                <div
                    #messageInput
                    class="message-input"
                    [class.transparent]="!newMessage"
                    contenteditable
                    (keydown.Enter)="messageSubmitHandler($event)"
                    (keydown.Escape)="messageInput.blur()"
                ></div>
            </div>
            <button class="send-btn" [disabled]="!newMessage" (click)="sendMessage()">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>
