
<h1 class="text-2xl font-bold"><a routerLink="/chat">&lt;-</a> Invitations</h1>
<div class="status-filter | rounded-lg bg-gray-800 w-max">
    <button
        class="border-0"
        [class.!bg-secondary-400]="receivedInvitationsFilter == 'pending'"
        (click)="loadReceivedInvitations(InvitationStatus.PENDING)"
    >
        pending {{ (receivedInvitations$ | async)?.pending?.length }}
    </button>
    <button
        class="border-0"
        [class.!bg-secondary-400]="receivedInvitationsFilter == 'accepted'"
        (click)="loadReceivedInvitations(InvitationStatus.ACCEPTED)"
    >
        accepted {{ (receivedInvitations$ | async)?.accepted?.length }}
    </button>
    <button
        class="border-0"
        [class.!bg-secondary-400]="receivedInvitationsFilter == 'declined'"
        (click)="loadReceivedInvitations(InvitationStatus.DECLINED)"
    >
        declined {{ (receivedInvitations$ | async)?.declined?.length }}
    </button>
</div>
<loading-spinner *ngIf="(receivedInvitations$ | async)?.loading"></loading-spinner>

<ul class="invitations">
    <li *ngFor="let invitation of (receivedInvitations$ | async)?.[receivedInvitationsFilter]">
        {{ invitation.inviter.username }}, {{ invitation.invitedAt | date: 'MMM d, h:mm a' }}
        <div class="response-actions">
            <button
                class="bg-primary-400 border-0 !text-gray-900 hover:bg-primary-500"
                (click)="respondToInvitation(invitation.id, InvitationResponse.ACCEPT)"
                [disabled]="invitation.status == InvitationStatus.ACCEPTED"
            >
                accept
            </button>
            <button
                class="bg-red-400 border-0 !text-gray-900 hover:bg-red-500"
                (click)="respondToInvitation(invitation.id, InvitationResponse.DECLINE)"
                [disabled]="invitation.status != InvitationStatus.PENDING"
            >
                decline
            </button>
        </div>
    </li>
</ul>

<div class="spacer"></div>

<h3>Invite a friend</h3>
<div class="flex gap-2">
    <input
        type="text"
        placeholder="Search for users"
        #userSearchInput
        (keydown.enter)="searchUsers(userSearchInput.value)"
    />
    <button (click)="searchUsers(userSearchInput.value)">search</button>
</div>

<br />
<loading-spinner *ngIf="loadingSearchResults"></loading-spinner>
<ul>
    <li *ngFor="let user of userSearchResult">
        {{ user.username }}
        {{ user.bio }}
        <button [disabled]="user.friendshipId" (click)="sendInvitation(user.id)">Invite</button>
    </li>
    {{
        userSearchResult?.length == 0 ? 'No user found' : ''
    }}
</ul>

<div class="spacer"></div>

<h3>Invitations sent</h3>
<button (click)="loadSentInvitations()">{{ (sentInvitations$ | async)?.all ? 're' : '' }}load</button>
<loading-spinner *ngIf="(sentInvitations$ | async)?.loading"></loading-spinner>
<ul class="sent-invitations">
    <li *ngFor="let invitation of (sentInvitations$ | async)?.all">
        {{ invitation.invitee.username }}, {{ invitation.invitedAt | date: 'MMM d, h:mm a' }}
        {{ invitation.status == 'accepted' ? '(accepted)' : '' }}
        <span class="response-actions">
            <button class="bg-red-400 border-0" (click)="deleteInvitation(invitation.id)">
                {{ invitation.status == InvitationStatus.ACCEPTED ? 'delete' : 'revoke' }}
            </button>
        </span>
    </li>
    {{
        (sentInvitations$ | async)?.all?.length == 0 ? 'No invitations' : ''
    }}
</ul>