<h3 class="mb-2">Received</h3>
<div class="flex">
    <div class="status-filter | rounded-[9px] bg-gray-800 w-max border border-subtle">
        <button
            class="button border-0"
            [class.!bg-gray-600]="receivedInvitationsFilter == 'pending'"
            (click)="loadReceivedInvitations(InvitationStatus.PENDING)"
            keybinding="not.peer-focus:P"
        >
            pending
            <span class="badge bg-secondary-400 !shadow-lg ml-1">{{ (receivedInvitations$ | async)?.pending?.length }}</span>
        </button>
        <button
            class="button border-0"
            [class.!bg-gray-600]="receivedInvitationsFilter == 'accepted'"
            (click)="loadReceivedInvitations(InvitationStatus.ACCEPTED)"
            keybinding="not.peer-focus:A"
        >
            accepted
        </button>
        <button
            class="button border-0"
            [class.!bg-gray-600]="receivedInvitationsFilter == 'declined'"
            (click)="loadReceivedInvitations(InvitationStatus.DECLINED)"
            keybinding="not.peer-focus:D"
        >
            declined
        </button>
    </div>
    <a
        routerLink="../sent"
        class="button !no-underline ml-2 hover:bg-primary-400 hover:text-gray-900 hover:border-transparent"
        keybinding="not.peer-focus:F"
        >invite a friend</a
    >
</div>

<div class="mt-4 text-center">
    <loading-spinner *ngIf="(receivedInvitations$ | async)?.loading" class="text-2xl"></loading-spinner>
    <p
        *ngIf="!(receivedInvitations$ | async)?.[receivedInvitationsFilter]?.length && !(receivedInvitations$ | async)?.loading"
        class="text-gray-300"
    >
        You have no {{ receivedInvitationsFilter }} invitations.
    </p>
</div>

<ul class="invitations">
    <app-invitation
        *ngFor="let invitation of (receivedInvitations$ | async)?.[receivedInvitationsFilter]"
        [title]="invitation.inviter.username"
        [subTitle]="(invitation.invitedAt | date: 'MMM d, h:mm a')!"
    >
        <button
            class="btn-primary py-0.5 font-normal h-max"
            (click)="respondToInvitation(invitation.id, InvitationResponse.ACCEPT)"
            [disabled]="invitation.status == InvitationStatus.ACCEPTED"
        >
            Accept
        </button>
        <button
            class="btn-danger py-0.5 font-normal h-max"
            (click)="respondToInvitation(invitation.id, InvitationResponse.DECLINE)"
            [disabled]="invitation.status != InvitationStatus.PENDING"
        >
            Decline
        </button>
    </app-invitation>
</ul>
