.container {
    &.error {
        @apply text-red-400 border-red-400 bg-red-900;
    }
    &.success {
        @apply text-primary-400 border-primary-400 bg-primary-700;
    }
    &.warning {
        @apply text-orange-400 border-orange-400 bg-orange-900;
    }

    @apply border my-4 rounded-xl p-4;

    p {
        margin: 0;

        & + p {
            margin-top: 4px;
        }

        .close-btn {
            cursor: pointer;
            transition: filter 180ms;

            &:hover {
                filter: brightness(2);
            }
        }
    }
}
